<section class="section site-portfolio">

  <div class='container'>
    <h2>New Movie Data</h2><br>
    <%= render 'form' %>
    <br><br>
    <%= link_to 'Back', works_path, class: "btn btn-info" %>
  </div>
</section>