<section class="section site-portfolio"> 
<div class='container'> 
  <h2>Director form</h2>
  <%= render 'form' %>
  <br>
  <%= link_to 'Back', directors_path, class: 'btn btn-outline-info'%>
</div>
</section>